<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    {% for question in all_questions %}
    <div>
        <p>{{question.title }}</p>
        <div>
            {{question.question_text }}
        </div>
        {% for answer in question.answer_set.all %}
                <div>
                    {{answer.answer_text}}
                </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>